@font-face {
  font-family: "TTHakgyoansimMonggeulmonggeulR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 350px;
  font-family: "TTHakgyoansimMonggeulmonggeulR";
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

nav {
  height: 100%;
  width: 70px;
  border-radius: 0;
  background: #e2ebfd;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
nav .nav_List li {
  padding-bottom: 30px;
  color: #a1a199;
  cursor: pointer;
}
nav .nav_List li.active, nav .nav_List li:hover {
  color: #b6cbf7;
}
nav .logout {
  color: #a1a199;
}
nav .logout.active, nav .logout:hover {
  color: #b6cbf7;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 20px;
  position: sticky;
  top: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header .header_title {
  font-size: 1.2rem;
}
.header .header_title i {
  font-size: 0.8rem;
  vertical-align: super;
}
.header .header_meun a {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}
.header .header_meun a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.preview {
  display: flex;
  padding: 16px;
  position: relative;
}
.preview .preview_pic {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background: #b6cbf7;
}
.preview .preview_pic .List_img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.preview .preview_title {
  width: 50vw;
  font-size: 0.88rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview .preview_msg {
  width: 50vw;
  font-size: 0.88rem;
  font-weight: 300;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview .preview_time {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 0.73rem;
  font-weight: 200;
  color: #a1a199;
}

.preview_col:nth-child(1) {
  margin-right: 16px;
}

.login_container {
  width: 100%;
  height: 100%;
  background-color: #D2E0FB;
}
.login_container .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 460px;
}
.login_container .login .login_logo {
  height: 90px;
  width: 100%;
  text-indent: -9999px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.login_container .login .login_account {
  font-size: 0.9rem;
  color: #61615a;
}
.login_container .login .login_account span {
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.2);
}

.login_form {
  width: 240px;
  margin: 20px 0 120px;
}
.login_form .login_wrap {
  border: #808080 1px 1px solid;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 8px;
}
.login_form input {
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.login_form input::placeholder {
  color: #a1a199;
}
.login_form .login_form_id {
  border: 1px solid #e6e5e5;
}
.login_form .login_form_btn {
  border: #808080 1px 1px solid;
  border-radius: 6px;
  padding-left: 0;
  margin-bottom: 8px;
}
.login_form .login_form_btn:hover {
  background: #e6e3e3;
}
.login_form .login_form_check {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  appearance: unset;
  border: 1px solid #61615a;
  background: #ffffff;
  vertical-align: middle;
}
.login_form .login_form_check:checked {
  background: #b6cbf7;
  border: 3px solid #f3f2f2;
}
.login_form label {
  font-size: 0.9rem;
}

.chats {
  margin-left: 70px;
}
.chats .preview_wrap {
  display: block;
}
.chats .preview_wrap .preview:hover {
  background: #f3f2f2;
}
.chats .preview_wrap .preview .preview_col:nth-child(1) {
  margin-right: 16px;
}

.chat {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.header_menu i {
  margin: 5px;
}

.chat_screen {
  background: #D2E0FB;
  height: calc(100% - 140px);
  overflow: auto;
}
.chat_screen .chat_header {
  padding: 0 10px;
  align-items: center;
  background: #D2E0FB;
}
.chat_screen .chat_header .preview_title {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.chat_screen .chat_header .chat_num {
  color: #a1a199;
}
.chat_screen .chat_header .chat_num i {
  font-size: 0.75rem;
  vertical-align: baseline;
}
.chat_screen .chat_header .chat_num span {
  font-size: 0.8rem;
}
.chat_screen .bubble_container .bubble_wrap .bubble_con {
  display: flex;
}
.chat_screen .bubble_container .bubble_wrap .bubble_con .bubble {
  position: relative;
  max-width: 80%;
  height: auto;
  width: auto;
  border-radius: 4px;
  padding: 10px;
  margin-top: 6px;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.chat_screen .bubble_container .bubble_wrap .bubble_con .bubble p {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat_screen .bubble_container .bubble_wrap .bubble_con .bubble::before {
  height: 0;
  width: 0;
  border-radius: 0;
  position: absolute;
  content: "";
  top: 10px;
  left: -10px;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}
.chat_screen .bubble_container .bubble_wrap .bubble_con .bubble_time {
  display: flex;
  align-items: self-end;
  padding-left: 6px;
  font-size: 0.8rem;
}
.chat_screen .bubble_preview.my {
  flex-direction: row-reverse;
}
.chat_screen .bubble_preview.my .preview_title,
.chat_screen .bubble_preview.my .preview_pic {
  display: none;
}
.chat_screen .bubble_preview.my .bubble_con {
  flex-direction: row-reverse;
}
.chat_screen .bubble_preview.my .bubble_con .bubble {
  background: #a7c3ff;
}
.chat_screen .bubble_preview.my .bubble_con .bubble::before {
  left: auto !important;
  right: -10px;
  border-top: 10px solid #a7c3ff;
  border-right: 10px solid transparent;
}
.chat_screen .bubble_preview.my .bubble_con .bubble_time {
  padding-right: 6px;
}

.chat_form {
  height: 140px;
  background: #adc8ff;
  padding: 10px;
}
.chat_form .chat_form_msg {
  height: 75px;
  width: 100%;
  border-radius: 0;
  resize: none;
  border: none;
  outline: none;
}
.chat_form .chat_form_util {
  display: flex;
  justify-content: space-between;
}
.chat_form .chat_form_util .chat_form_util_plugIn i {
  margin-left: 10px;
  color: #a1a199;
  margin-top: 10px;
}
.chat_form .chat_form_util .chat_form_util_plugIn i:hover {
  color: #000;
}
.chat_form .chat_form_util .chat_form_btn {
  height: 35px;
  width: 65px;
  border-radius: 6px;
  border: none;
  color: #61615a;
  background: #D2E0FB;
}
.chat_form .chat_form_util .chat_form_btn:hover {
  background: #95958c;
  background: #8aadf8;
}

/*# sourceMappingURL=style.css.map */
