.preview {
  display: flex;
  padding: 16px;
  position: relative;

  .preview_pic {
    @include set-box(50px, 50px, 8px);
    background: #b6cbf7;

    .List_img {
      @include set-box(50px, 50px, 8px);
    }
  }

  .preview_title {
    width: 50vw;
    font-size: 0.88rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview_msg {
    width: 50vw;
    font-size: 0.88rem;
    font-weight: 300;

    //2줄만 보이게 하기
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview_time {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 0.73rem;
    font-weight: 200;
    color: $gray2;
  }
}


.preview_col {
  &:nth-child(1) {
    margin-right: 16px;
  }
}